body {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form-wrapper {
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registration-part1 p a {
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: bold;
    color: #1153c4;
}

#registration-part2 {
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(204, 204, 204, 0.75);
}

.instagram-logo {
    width: 60%;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 1vh;
    width: 70%;
    height: 4.5vh;
    border: 2px solid rgba(204, 204, 204, 0.75);
    border-radius: 5px;
}

input:focus {
    background-color: rgb(243, 243, 243);
}

button {
    width: 70%;
    height: 3vw;
    margin-top: 4vw;
    margin-bottom: 1vw;
    font-size: 1.7vw;
    font-weight: bold;
    background-color: #5e92ec;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Плавний перехід кольору при наведенні */
}

button:hover {
    background-color: #4c7bc5; /* Зміна кольору при наведенні */
}

button:active {
    background-color: #4ed9b4; /* Зміна кольору при натисканні */
}

h2 {
    margin-bottom: 1vh;
}

.facebook-login h3 a {
    text-decoration: none;
    color: #1153c4;
    font-size: 1.6vw;
    font-weight: bold;
}

.facebook-login h3 a:hover {
    color: #5e92ec; /* Зміна кольору при наведенні */
}

.facebook-login h3 a:active {
    color: #4ed9b4; /* Зміна кольору при натисканні */
}

.facebook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}

.facebook-logo {
    width: 3vw;
}

#registration-part1 p a:hover {
    color: #5e92ec;
}

#registration-part1 p a:active {
    color: #4ed9b4;
}

.fieldset-2 {
    margin-top: 1vw;
}

#registration-part2 h3 {
    font-size: 1.2vw;
}

#registration-part2 h3 a {
    font-size: 1.2vw;
    text-decoration: none;
    color: #5e92ec;
}

#registration-part2 h3 a:hover {
    color: #4c7bc5; /* Зміна кольору при наведенні на лінк */
}

#registration-part2 h3 a:active {
    color: #4ed9b4; /* Зміна кольору при натисканні */
}

/*----------*Адаптація для мобільних пристроїв!---------------*/
/*----------*Медіазапит для горизонтальної орієнтації---------*/
/*@media only screen and (max-width: 767px)*/

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .registration-form-wrapper {
        width: 90vw; /* Змінюємо ширину форми для вертикальної орієнтації */
    }

    input, button, #registration-part1 p a, #registration-part1 h3 a, #registration-part2 h3, #registration-part2 h3 a, h2 {
        font-size: 4vw; /* Збільшуємо розмір шрифту */
    }

    input {
        height: 7vw; /* Змінюємо висоту поля вводу */
    }

    button {
        height: 8vw; /* Змінюємо висоту кнопки */
    }

    .instagram-logo {
        width: 80%; /* Змінюємо ширину логотипу Instagram */
    }

    .facebook-logo {
        width: 6vw; /* Змінюємо розмір логотипу Facebook */
    }
}

/* Медіазапит для горизонтальної орієнтації на мобільних пристроях */
@media only screen and (max-width: 932px) and (orientation: landscape) {
    body {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .registration-form-wrapper {
        height: 96vh;
        width: 70vw;
    }

    input, button, #registration-part1 p a, #registration-part1 h3 a, #registration-part2 h3, #registration-part2 h3 a, h2 {
        font-size: 4.2vh;
    }

    #registration-part1 p {
        margin: 1.5vh;
    }

    #registration-part1 p a {
        font-size: 3.5vh;
    }

    .instagram-logo {
        width: 30%;
        margin-top: 1vh;
    }

    input {
        height: 5vh;
    }

    button {
        height: 8vh;
        margin-top: 3vh;
        margin-bottom: 2vh;
        font-size: 4.5vh;
    }

    h2 {
        margin-bottom: 0;
        font-size: 4vh;
    }

    .facebook-login h3 {
        margin: 0;
    }

    .facebook-login h3 a {
        font-size: 5vh;
    }

    .facebook-login {
        margin-bottom: 2vh;
    }

    .facebook-logo {
        width: 6vh;
    }

    #registration-part2 h3 {
        font-size: 4vh;
        margin: 1.5vh;
    }

    #registration-part2 h3 a {
        font-size: 4vh;
    }
}